*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: #f4f4f9; 
    line-height: 1.6; 
}
.cabeçalho{
    background-color: #0e42b1; 
    color: white; 
    text-align: center; 
    padding: 20px 0;
}
.titulo{
    color: #ffffff
}
.conteudo{
    text-align: center;
    background-color: #dfe4ee;
    margin: 40px 20px;
    border-radius: 08px;
    height: 100px;
    display:flex;
}
.campos{
    margin: 40px 20px;
    border-radius: 08px;
    height: 30%;
    width: 100%;
}
.linhaHorizontal{
    display: flex;
    width: 90%;
    border-bottom: 2px solid rgb(23, 101, 173);
    align-items: center;
    margin: 5% 5%;
}
.conteudo2 {
    background-color: #dfe4ee;
    margin: 40px 20px;
    border-radius: 8px; 
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px; 
    
}

.coluna1, .coluna2 {
    font-size: 20px; 
    font-weight: bold;
    color: #0e42b1;
    flex: 1; 
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px; 

}